<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loding_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,561},{200,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,93}}</string>
                <key>sourceSize</key>
                <string>{200,93}</string>
            </dict>
            <key>loding_bg_ddmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{671,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,327}}</string>
                <key>sourceSize</key>
                <string>{671,327}</string>
            </dict>
            <key>loding_bg_majiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{557,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,143}}</string>
                <key>sourceSize</key>
                <string>{557,143}</string>
            </dict>
            <key>loding_bg_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{200,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,12}}</string>
                <key>sourceSize</key>
                <string>{200,12}</string>
            </dict>
            <key>loding_bg_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,561},{1115,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1115,54}}</string>
                <key>sourceSize</key>
                <string>{1115,54}</string>
            </dict>
            <key>loding_bg_tmmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{671,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,327}}</string>
                <key>sourceSize</key>
                <string>{671,327}</string>
            </dict>
            <key>loding_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,763},{220,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,35}}</string>
                <key>sourceSize</key>
                <string>{220,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjloadingscene.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fd9bd19f488e96805738459302b51e0:1/1$</string>
            <key>textureFileName</key>
            <string>mjloadingscene.png</string>
        </dict>
    </dict>
</plist>
