<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianpaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,125},{280,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{280,122}}</string>
                <key>sourceSize</key>
                <string>{294,122}</string>
            </dict>
            <key>dihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{250,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,122}}</string>
                <key>sourceSize</key>
                <string>{250,122}</string>
            </dict>
            <key>hdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,130},{274,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{274,122}}</string>
                <key>sourceSize</key>
                <string>{308,122}</string>
            </dict>
            <key>hdp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{276,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{276,122}}</string>
                <key>sourceSize</key>
                <string>{308,122}</string>
            </dict>
            <key>huangzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,126},{192,98}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,98}}</string>
                <key>sourceSize</key>
                <string>{192,102}</string>
            </dict>
            <key>hutype1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,394},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>hutype1_be.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,328},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>hutype2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,337},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>hutype2_be.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,406},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>hutype3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,306},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>hutype3_be.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,351},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>hutype4.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,309},{91,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,81}}</string>
                <key>sourceSize</key>
                <string>{91,81}</string>
            </dict>
            <key>hutype4_be.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,249},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>hutype5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,478},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>hutype5_be.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,216},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>hutype6.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,226},{92,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>hutype6_be.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,415},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>hutype7.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,125},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>hutype7_be.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,414},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>hutype8.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,392},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>hutype8_be.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,328},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>text_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{249,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,122}}</string>
                <key>sourceSize</key>
                <string>{249,122}</string>
            </dict>
            <key>text_hzzg.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{367,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,121}}</string>
                <key>sourceSize</key>
                <string>{367,121}</string>
            </dict>
            <key>tianhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{250,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,122}}</string>
                <key>sourceSize</key>
                <string>{250,122}</string>
            </dict>
            <key>txt_baibanzuogui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,126}}</string>
                <key>sourceSize</key>
                <string>{400,126}</string>
            </dict>
            <key>win_dianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,226},{154,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{154,100}}</string>
                <key>sourceSize</key>
                <string>{154,108}</string>
            </dict>
            <key>win_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,249},{152,100}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{152,100}}</string>
                <key>sourceSize</key>
                <string>{154,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjtext.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:514f2070b4384811afdb7e60f1616887:1/1$</string>
            <key>textureFileName</key>
            <string>mjtext.png</string>
        </dict>
    </dict>
</plist>
