<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,106},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>black_details.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{530,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,65}}</string>
                <key>sourceSize</key>
                <string>{530,65}</string>
            </dict>
            <key>btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,2},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,2},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>btn_dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>btn_ddpyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>btn_weipyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>btn_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>buttonEx_chazhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,69},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>buttonEx_luxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,69},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>detail_ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,83},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,69},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>head_leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,69},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>icon_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,83},{36,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_zhuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,83},{36,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>img_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{168,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,69}}</string>
                <key>sourceSize</key>
                <string>{168,69}</string>
            </dict>
            <key>img_tital2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{432,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,79}}</string>
                <key>sourceSize</key>
                <string>{432,79}</string>
            </dict>
            <key>line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,122},{343,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,3}}</string>
                <key>sourceSize</key>
                <string>{343,3}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,69},{298,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,34}}</string>
                <key>sourceSize</key>
                <string>{298,34}</string>
            </dict>
            <key>t_yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,83},{298,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,34}}</string>
                <key>sourceSize</key>
                <string>{298,34}</string>
            </dict>
            <key>word_coshow.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{102,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,37}}</string>
                <key>sourceSize</key>
                <string>{102,37}</string>
            </dict>
            <key>word_fjzjjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,83},{199,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,35}}</string>
                <key>sourceSize</key>
                <string>{199,35}</string>
            </dict>
            <key>word_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{118,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,37}}</string>
                <key>sourceSize</key>
                <string>{118,37}</string>
            </dict>
            <key>word_qun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,69},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{1984,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0595f0a8ad3d029a367f42f7c1622980:1/1$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
