<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_busy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,384},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>icon_hand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,283},{102,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,118}}</string>
                <key>sourceSize</key>
                <string>{102,118}</string>
            </dict>
            <key>icon_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,434},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>icon_wifi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,441},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>icon_wifi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,441},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>icon_wifi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,456},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>icon_wifi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,417},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>iimg_ht2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{174,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>img_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,434},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>img_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,279},{110,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,103}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>img_ht1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{175,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,133}}</string>
                <key>sourceSize</key>
                <string>{175,133}</string>
            </dict>
            <key>img_qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,434},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>img_qp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,434},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>img_qp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,384},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>img_qp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,434},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>img_txdw.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,176},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>img_xh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,304},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>img_xh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,107},{37,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,15}}</string>
                <key>sourceSize</key>
                <string>{37,15}</string>
            </dict>
            <key>img_xh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,334},{51,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,17}}</string>
                <key>sourceSize</key>
                <string>{51,17}</string>
            </dict>
            <key>img_xht.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,369},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>img_zdw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,304},{109,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,330},{152,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,85}}</string>
                <key>sourceSize</key>
                <string>{152,85}</string>
            </dict>
            <key>tx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,434},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>tx_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>tx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,176},{152,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,85}}</string>
                <key>sourceSize</key>
                <string>{152,85}</string>
            </dict>
            <key>tx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,150},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>tx_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,349},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>tx_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,403},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>tx_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{149,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,181}}</string>
                <key>sourceSize</key>
                <string>{149,181}</string>
            </dict>
            <key>tx_gx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{215,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,192}}</string>
                <key>sourceSize</key>
                <string>{215,192}</string>
            </dict>
            <key>tx_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,354},{152,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,154}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>tx_gzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{175,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,172}}</string>
                <key>sourceSize</key>
                <string>{175,172}</string>
            </dict>
            <key>tx_hdly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,171}}</string>
                <key>sourceSize</key>
                <string>{340,171}</string>
            </dict>
            <key>tx_huz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,209},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>tx_qg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{124,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,103}}</string>
                <key>sourceSize</key>
                <string>{124,103}</string>
            </dict>
            <key>tx_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,334},{173,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,129}}</string>
                <key>sourceSize</key>
                <string>{173,129}</string>
            </dict>
            <key>use_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,153},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>use_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,304},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>use_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,107},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>use_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,174},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>use_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,304},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>use_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,174},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>z_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,175},{177,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,80}}</string>
                <key>sourceSize</key>
                <string>{177,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjmainscene.png</string>
            <key>size</key>
            <string>{1178,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c6444e69d37710b93212fc19dcebd32:1/1$</string>
            <key>textureFileName</key>
            <string>mjmainscene.png</string>
        </dict>
    </dict>
</plist>
